<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18600617212-6dbvm8j0lo37bl5u0namqv220a9gkjiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18600617212-6dbvm8j0lo37bl5u0namqv220a9gkjiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDofCJsW4BVcwWteAll6boJG3G0wLC_Oj4</string>
	<key>GCM_SENDER_ID</key>
	<string>18600617212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mohammdk393-gmail.com.Doken</string>
	<key>PROJECT_ID</key>
	<string>doken-c9746</string>
	<key>STORAGE_BUCKET</key>
	<string>doken-c9746.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18600617212:ios:a4d17d1a48c02c9985e379</string>
</dict>
</plist>